<form name="oForm" class="form-group contenttxt" novalidate role="form" ng-controller="contactContoller">
    <fieldset id="ContactForm" class="ContactForm-list">
    <legend>Contact Form</legend>
    <div class="ContactForm-list">

        <div class="form-group">
            <label for="name">{{model.name || 'Name'}}</label>
            <span class="label label-danger" ng-show="oForm.name.$error.required">Required!</span>
            <input type="text" name="name" ng-model="model.name" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="email">{{model.email || 'E-mail'}}</label>
            <span class="label label-danger" ng-show="oForm.email.$error.required">Required!</span>
            <span class="label label-danger" ng-show="oForm.email.$error.email">Invalid Email!</span>
            <input type="email" name="email" ng-model="model.email" class="form-control" required placeholder="example@address.com" />
        </div>
        <div class="form-group">
            <label for="message">Your Message:</label>
            <textarea name="message" rows="5" ng-model="model.message" class="form-control" required placeholder="Your Message" ></textarea>
        </div>
        <div class="form-group clearfix">
            <span class="action-submit-btn col-sm-2">
                <button class="btn btn-primary" ng-click="sendForm()" ng-disabled="oForm.$invalid">Submit</button>
            </span>
            <span id="js-email-response" class="col-sm-7"></span>
            <span class="action-clear-btn col-sm-3">
                <button ng-click="oForm.name.$rollbackViewValue(); name='';oForm.email.$rollbackViewValue(); email='';oForm.message.$rollbackViewValue(); message=''; clearForm()" class="btn btn-default">Clear</button>
            </span>
        </div>

    </div>
    </fieldset>
  </form>
