<section data-ng-app="myapp" ng-controller="FeaturesContoller">
    <template-sub-header></template-sub-header>
    <h2 class="header2 margin-top-2rem">Web Performance</h2>
    <p class="content-txt">
        An interesting topic that I am following and exploring as of now is, Web Performance. I am testing, analyzing and optimizing this site and the Rokni.com with Google <a href="https://developers.google.com/speed/" data-external>PageSpeed Tools</a>, <a href="https://developers.google.com/closure/compiler/" data-external>Closure Compiler</a> Service UI, <a href="http://developer.yahoo.com/yslow/" data-external>YSlow</a> and some other interesting online tools to make the site faster.
    </p>
    <p class="content-txt">
        Basically, Rokni.net was competing against Rokni.com which uses Google's PageSpeed Service to load faster. The score as chart is available at <a href="//www.rokni.net:8080/index.html" data-external>www.rokni.net:8080/index.html</a>. Comparison of two sites are done with similar content till 10/16. After 01/02, they are representing different coding.
    </p>
    <p class="content-txt">
        Updated rokni.net, uses <a href="https://angularjs.org/" data-external>AngularJS</a>, hence, its performance will be tracked against itself. As the process of optimizing performance takes shape following chart will show the score and progress of Web Performance optimization:
    </p>

    <h2 class="header2">Responsive Web Design</h2>
    <p class="content-txt">
        <a href="http://www.rokni.com/" data-external>Rokni.com</a> has already created with Responsive web design (<abbr title="Responsive Web Design">RWD</abbr>) in mind although it has a limited reach. Rokni.net is inherited the stylesheet and added some of its own. It's created adhering RWD principlas.
    </p>
    <p class="content-txt">
        So, Once its <b>Web Performance</b> reaches within a satisfactory results and all updates and functionalities are done, I'll make it works on mobile devices with <abbr title="Responsive Web Design">RWD</abbr> experiences.
    </p>
    <p class="content-txt">
        <del>Please note, currently this site on mobile devices, lacks navigation due to the fact that its media query styles inherited from Rokni.com.</del>
    </p>
</section>
