<header>
    <h1 class="header2"><span class="home home-away"><i class="fa fa-home fa-fw"></i> </span> / {{model.title}}</h1>
</header>
<section id="tocontent" class="margin-top-2rem">
    <p class="content-txt">
        <b>Rokni.net</b> is an 'experimental' site; some sort of a '<a href="http://en.wikipedia.org/wiki/Sandbox_(software_development)" data-external>sandbox</a>'. I try new technologies here and then might move some of it to <a href="http://www.rokni.com" data-external>Rokni.com</a>.
    </p>
    <p class="content-txt">
        Anything related to html, css, javascript, design patterns and frameworks that is interesting and needs to be tried out, will be tested here.
    </p>

    <p class="content-txt">
        An interesting topic that I am following and exploring as is, <a href="#/features">Web Performance</a>. I am testing, analyzing and optimizing this site and the Rokni.com with Google
        <a href="https://developers.google.com/speed/" data-external>PageSpeed Tools</a>, <a href="http://developer.yahoo.com/yslow/" data-external>YSlow</a> and some other interesting online tools to make
        the site faster.
    </p>
    <p class="content-txt">
        Currently, none of the scripts and stylesheets are compressed and or minified, eventually, those files should be minified and concatnated either using a task runner (similar
        process to <a href="https://github.com/alirokni/node-mustache" data-external>my github node-mustache</a> project -<a href="http://www.rokni.net:8080/index.html" data-external>rokni.net:8080/index.html</a>-)
        or <a href="https://developers.google.com/closure/compiler/" data-external>Closure Compiler</a> Service UI can be used.
    </p>
    <p class="content-txt">
        As this site considered <b>Hard Hat Area</b>, best to view it with modern browsers. So, older browsers are not supported and might not rendered correctly.
    </p>
</section>
